# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the PNPM lockfile as having been generated.
pnpm-lock.yaml linguist-generated

dist/** -diff linguist-generated=true
